<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert New Country</title>
</head>
<body>
<form th:object="${newCountry}" th:action="@{/update/{id}(id=${newCountry.id})}" method='POST'>
Name: <input name="name" size="20" th:field="*{name}"> <br />
Leader: <input name="leader" size="10" th:field="*{leader}"><br />
Population: <input name="population" size="20" th:field="*{population}"> millions<br />
<input name="submit" type="submit" value="submit"/>
</form>
<a href="viewAll">View all Countries</a>
</body>
</html>